body
{
    background-color: beige;
    color: darkslategrey;
    margin: 20px;
}

label {
	display: block;
	margin-top: 15px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

a:link
{
    text-decoration: underline;
}

a:visited
{
    color: darkslategray;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

a:active
{
    text-decoration: underline;
}

.rsvp-rows
{
    
}
